docker-compose-classic.yml
docker-compose-tbc.yml
docker-compose-wotlk.yml
mangosd/files-classic/mangosd.conf
mangosd/files-classic/dbc/
mangosd/files-classic/maps/
mangosd/files-classic/vmaps/
mangosd/files-classic/mmaps/
mangosd/files-tbc/mangosd.conf
mangosd/files-tbc/dbc/
mangosd/files-tbc/maps/
mangosd/files-tbc/vmaps/
mangosd/files-tbc/mmaps/
mangosd/files-wotlk/mangosd.conf
mangosd/files-wotlk/dbc/
mangosd/files-wotlk/maps/
mangosd/files-wotlk/vmaps/
mangosd/files-wotlk/mmaps/
realmd/files-classic/realmd.conf
realmd/files-tbc/realmd.conf
realmd/files-wotlk/realmd.conf
mariadb/files/InstallFullDB-EDITED.config
mariadb/files/db_create_mysql-EDITED.sql
mariadb/files/post_update-EDITED.sql
wow-client-wotlk
wow-client-tbc
wow-client-classic
