docker-compose-tbc.yml
docker-compose-classic.yml
mangosd/files/mangosd.conf
mangosd/files-tbc/mangosd.conf
mangosd/files/dbc/
mangosd/files/maps/
mangosd/files/vmaps/
mangosd/files/mmaps/
mangosd/files/Cameras/
mangosd/files-tbc/dbc/
mangosd/files-tbc/maps/
mangosd/files-tbc/vmaps/
mangosd/files-tbc/mmaps/
mangosd/files-tbc/Cameras/
realmd/files/realmd.conf
realmd/files-tbc/realmd.conf
