version: "3.1"

services:
  worldserver:
    image: wowbase:poc
    restart: on-failure
    ports:
      - 8085:8085
    networks:
      - wowserver
    command: /srv/wowconfig/docker-endpoint.sh
    depends_on:
        - mariadb
    stdin_open: true
    tty: true
    volumes:
      - "./mangosd/files:/srv/wowconfig"
      - "./mangosd/files/maps:/srv/wow/mangos-classic/run/maps"
      - "./mangosd/files/mmaps:/srv/wow/mangos-classic/run/mmaps"
      - "./mangosd/files/vmaps:/srv/wow/mangos-classic/run/vmaps"
      - "./mangosd/files/dbc:/srv/wow/mangos-classic/run/dbc"
  authserver:
    image: wowbase:poc
    restart: on-failure
    ports:
      - 3724:3724
    networks:
      - wowserver
    depends_on:
        - mariadb
    command: /srv/wowconfig/docker-endpoint.sh
    volumes:
      - "./realmd/files:/srv/wowconfig"

  mariadb:
    image: mariadb:10.1
    restart: on-failure
    environment:
      - MYSQL_ROOT_PASSWORD=
      - MYSQL_PASSWORD=healthcheck
      - MYSQL_USER=healthcheck
    healthcheck:
      test:
        [
          "CMD",
          "mysqladmin",
          "ping",
          "-h",
          "127.0.0.1",
          "-u",
          healthcheck,
          "-p",
          healthcheck,
        ]
      interval: 1m30s
      timeout: 30s
      retries: 10
    networks:
      - wowserver
    volumes:
      - "wowdbnax:/var/lib/mysql"

networks:
  wowserver:
    driver: bridge

volumes:
  wowdbnax:
    external:
     name: wowdbnax
